@page
@model Crintea_Miruna_Proiect.Pages.ProgramElements.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProgramElement[0].Skater)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramElement[0].Element)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProgramElement) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Skater.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Element.ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
